PORT=4000

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=Rafit1234
DB_NAME=shopmvc

# JWT
JWT_SECRET=change_this_super_secret_key
JWT_EXPIRES_IN=7d

# CORS - your frontend origin
CLIENT_URL=http://localhost:3000

# Mailer (optional, used for order confirmation emails)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER="rafitrahad28@gmail.com"
MAIL_PASSWORD="atlk opmy gpdn tqip"
MAIL_FROM="ShopMVC <no-reply@shopmvc.test>"
